<hr>
<div>
    <h2> Child</h2>
    <p>Value entered in parent componetn : {{parentValue}}</p>
    <input type="text" #childInput (keyup)="onChange(childInput.value)">
</div>

<hr>
<ng-content></ng-content>
<div class="post-list">
<h3>Posts List ( {{date |  date:'short'}} )</h3>
<ul>
<li *ngFor ="let post of posts; let j = index" mySpy>
    <div myHighlight defaultColor="violet">
        <label><button (click)="deletePost(j, post, PostForm)">Delete</button></label>
        <label>고유키</label>
         {{post.id}}         
    </div>
    <div myHighlight defaultColor="cyan">
        <label><button (click)="editPost(PostForm, post)">Select</button></label>
        <label>제목</label>
        {{post.title | uppercase}}        
    </div>
    <div myHighlight defaultColor="lightgreen">
        <label><button (click)="goPost(post)">Go</button></label>
        <label>내용</label>
        {{post.body}}
    </div>
</li>
</ul>
</div>

<hr>

<div [class]="showPost !== false ? 'post-detail' : 'box'">
<h3>{{showPost ? "Edit" : "Add"}} Post</h3>
<form #PostForm>
    <div>
        <label>등록자 : </label>
        <input type="text" name ="Post.userId" placeholder="Post.userId"/>
    </div>
    <div>
        <label>고유키 : </label>
        <input type="text" name ="Post.id"  placeholder="Post.id"/>
    </div>
    <div>    
        <label>제목 : </label>
        <input type="text" name ="Post.title" placeholder="Post.title"/>
    </div>
    <div>
        <label>내용 : </label>
        <input type="text" name ="Post.body" placeholder="Post.body" />
    </div>
    <div>
        <button (click)="togglePost(PostForm)" mySpy>{{showPost ? "수정" : "등록"}}</button>
        <span *ngIf="showPost">
            <button (click)="cancelPost(PostForm)" mySpy>취소</button>
        </span>
    </div>
</form>
</div>
